@media screen and (max-width: 1439px) {

	.leftdashborder {
	    right: -60px;
	}
	
	.wat-qare-div {
    	left: -102px;
 	}

	.page-title.dashtitle {
		text-align: center;
	}

	.contact-title h3 {
		padding-top: 155px;
	}

	.image-phone img {
	    top: -135px;
	}

	.image-phone {
    	padding-right: 140px;
 	}

 	.container.container-white.wiq {
    	/* height: 530px; */
  }

 	.wat-qare-div p {
 		width: 390px;
 	}	

 	.hoe-werkt-div .blue-title {
 		padding-bottom: 25px;
 	}

 	.hoe-werkt-div > p {
 		max-width: 534px;
 	}

 	.four-icons .col-md-3 {
 		width: 50%;
 		padding-right: 30px;
 		padding-left: 30px;
 	}

 	.col-white {
	    padding: 28px 43px 0 47px;
	    margin-bottom: 64px;
	    height: 346px;
	}

	.four-icons {
	    padding: 50px;
	    clear: both;
	    padding-top: 85px;
	    padding-bottom: 30px;
	}

	.video-div img {
    	width: 70%;
    	height: auto;
    	margin: 50px 0 48px 50px;
	}

	#contact h2 {
    	padding-top: 0px;
    	padding-bottom: 10px;
 	}

 	p.login-link.geen {
 		padding-bottom: 10px;
 	}

	
} 
/*end 1439px**/

@media screen and (max-width: 1023px) {

	.page-title.dashtitle {
		width: 100%;
		text-align: center;
		padding: 10px 10px 20px 0;
	}

	.dashboard-container {
		width: 100%;
	}

	.leftdashborder {
    	right: -102px;
 }
	
	.rightdash.bottom-align {
	    padding-left: 145px;
	}

	.contact-title h3 {
    	padding-top: 76px;
  }

 	.container-contact {
    	/* height: 486px; */
 }

	.image-phone {
	    padding-right: 95px;
	    height: 360px;
	}

	.image-phone img {
    	width: 201px;
    	top: -80px;
 }	

	.wat-qare-div {
    	left: -29px;
  }

 	.blue-title {
	    padding-top: 35px;
	    padding-bottom: 5px;
	}

	.wat-qare-div p {
    	width: 328px;
 	}

 	.wat-qare-div p span {
    	display: inline-block;
    	height: 35px;
    }

    .container.container-white.wiq {
    	height: 380px;
 }

	.hoe-werkt-div .blue-title {
	    padding-top: 15px;
	    padding-bottom: 35px;
 	}

 	.four-icons {
	    padding: 25px;
	    clear: both;
	    padding-top: 50px;
	    padding-bottom: 0;
	}

	.four-icons .col-md-3 {
    	width: 50%;
    	padding-right: 35px;
    	padding-left: 35px;
 }

	.col-white {
	    padding: 28px 37px 0 37px;
	    margin-bottom: 64px;
	    height: 422px;
	    text-align: center;
	}

	.four-icons .col-md-3:nth-child(3) .col-white,
	.four-icons .col-md-3:nth-child(4) .col-white {
		margin-bottom: 50px;
	}

	.four-icons .col-white img {
	    margin-left: 0px;
	}

	.four-icons .col-white h4 {
	    margin-left: 0px;
	}

	.contact-subscribe input,
	.contact-subscribe button {
		display: block;
		margin: 0 auto;
		margin-bottom: 18px;
	}

	.container-blue {
		padding-bottom: 30px;
	}

	#contact h2 {
	    padding-top: 19px;
	    padding-bottom: 10px;
	}

	p.copyright2 {
    	padding-bottom: 30px;
  }

 	.container.footer p a {
    	text-decoration: underline;
	}

	body.login .btn.log-in-btn {
		display: none !important;
	}

	.login-form {
		padding-top: 390px;
	}

	.login-form.andregister.text-center {
	    padding-top: 320px;
	}

	body.register .btn.log-in-btn.loner {
		 display: none !important; 
	}

	.navbar-default {
    	height: 100%;
 }

	.btn.btn-info.log-in-btn.loner {
		display: block;
	}

	h1.login {
		position: absolute;
		left: 0;
		right: 0;
		top: 25px;
		padding: 0 !important;
		margin: 0;
	}

	h1.register {
		position: absolute;
		left: 0;
		right: 0;
		top: 25px;
		padding: 0 !important;
		margin: 0;
	}

	.buttons-contact {
    	padding-bottom: 133px;
	 }

	 nav.internav .navbar-nav.mainnav li {
    	margin-left: 0px;
	 }

	 nav.internav .navbar-nav.mainnav li a {
    	line-height: 25px;
	 }

	 /*tablet mobile menu fix*/
	 ul.nav.navbar-nav.bear {
	    display: block;
	    position: static;
	}

	.navbar-nav li a {
    	line-height: 25px;
	}
	 /*tablet mobile menu fix*/


} 
/*end 1023px */

@media screen and (max-width: 767px) {

	.leftdashborder {
		display: none;
	}
	
	.buttons-contact {
		width: 100%;
		text-align: center;
	}

	.buttons-contact a {
		display: block;
	}

	.buttons-contact a button {
		margin: 0;
		margin-top: 20px;

	}

	.hoe-werkt-div {
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    padding: 0 10px;
	}	

	.video-div img {
    	margin: 50px;
	}

	.contact-subscribe input {
    	margin: 0 auto;
	}

	.page-title {
    	background-color: 0;
	}

	.edit-form {
	}

	.edit-form .chosen-container.chosen-container-multi {
    	width: 100% !important;
	}

	.hr {
		margin-top: 30px;
	}

	.hr.int {
		display: block;
	}

	table.wool {
		margin-bottom: 0;
	}
	
	.overlay-right.profiel.notown {
    	display: none;
	}

	.maakmsgprofiel {
		display: block;
		text-align: center;
		height: 100%;
	}

	p.progres-percent {
    	width: 100%;
	}

	div.progress {
		width: 100% !important;
	}

	.profperc {
	    width: 100%;
	}

	.container-login .page-title h1 {
	    color: #fff;
	    padding-top: 0;
	    position: absolute;
	    margin: 0 auto;
	    text-align: center;
	    margin-left: 0;
	    margin-right: 0;
	    width: 100%;
	    top: 20px;
	}

	.image-phone {
	    text-align: center;
	    padding-right: 0;
	    padding-left: 0;
	}

	.wat-qare-div {
	    position: relative;
	    top: -90px;
	    text-align: center;
	}

	.image-phone img {
    	top: -130px;
	}

	.navbar-nav li a {
    	line-height: 25px;
	}

	.leftdashinner {
		width: 100%;
	}

	.leftdashinner img {
		width: 80px;
		height: 80px;
	}

	.smallborder {
    	width: 100%;
	}

	.leftdashinner {
		overflow: visible;
		padding: 0 25px;
	}

	.dashboard-container {
		padding: 0;
	}

	.leftdash {
		padding: 0;
	}

	.row.imgtext {
    	padding-top: 29px;
    	margin: 0;
	}

	.overact {
     /*text-align: center; */
	}

	.overact div {
	    display: inline-block;
	    margin: 0 5px;
	}

	.overact div:nth-child(odd) {
		margin-left: 0;
	}

	.overact div a {
	    width: 132px;
	}
	
	ul.nav.navbar-nav.bear {
	    display: block;
	    position: static;
	}

	body > nav.navbar-default {
		height: 50px;
	}

	p.progres-percent span.hundred {
	    margin-right: 5px;
	}

	.dashboard-container {
		background: 0;
	}

	.leftdash,
	.rightdash {
		background: #fff;
	}

	.mobreviewtitle {
    	display: block;
    	clear: both;
	    text-align: center;
	    padding-top: 40px;
	}

	.mobreviewtitle {
    	display: block;
	    text-align: center;
	    padding-top: 40px;
	}

	.rightdash>h2 {
		display: none;
	}

	.rightdash.bottom-align {
		padding: 25px;
	}

	ul.interbear a {
    	padding-left: 15px;
	}

	.container-contact {
    	/* height: 575px; */
 }

	.contact-title h3 {
    	padding-top: 15px;
    	width: 267px;
    	padding-bottom: 25px;
 	}

 	.image-phone img {
    	top: -150px;
  }	

 	.container.container-white.wiq {
 		height: auto;
 	}

 	.image-phone {
 		height: 285px;
 	}

 	.wat-qare-div {
	    position: static;
	    top: 0;
	    text-align: center;
	    padding: 0;
	}

	.hoe-werkt-div {
		position: static;
	}

	.blue-title {
    	padding-top: 0;
    	margin-bottom: 0px;
 	}

 	.wat-qare-div p {
		width: 100%;
		height: auto;
		padding: 0 45px 40px;
	}

	.hoe-werkt-div .blue-title {
    	padding-top: 20px;
    	padding-bottom: 15px;
 	}

 	.hoe-werkt-div > p {
    	padding: 0 35px;
    	margin: 0;
	}

	.four-icons {
	    padding: 5px;
	    clear: both;
	    padding-top: 40px;
	    padding-bottom: 0;
	}

	.four-icons .col-md-3 {
    	width: 100%;
    	padding-right: 35px;
    	padding-left: 35px;
	}

	.col-white {
	    padding: 28px 37px 10px 37px;
	    margin-bottom: 50px;
	    height: auto;
	    text-align: center;
	}
	
	#contact h2 {
    	padding-top: 19px;
    	padding-bottom: 15px;
	}

	#contact .form-group {
		display: block;
	}
	
	#contact form input,
	#contact form button,
	#contact form textarea {
		width: 100%;
	}

	#contact form button {
		margin-top: 5px;
	}

	.form-contact-div {
		padding-right: 57px;
		padding-left: 57px;
	}

	.login-form {
    	padding-top: 140px;
    	width: 100%;
    	padding-left: 57px;
    	padding-right: 57px;
 	}

 	.login-form input {
    	width: 100%;
    	display: inline-block;
 }

	.login-form button {
		width: 100%;
	}	

	.login-form a.btn-facebook {
    	display: inline-block;
    	width: 100%;
	}	

	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}

	p.login-link.geen {
		margin-top: 100px;
	}

	.login-form.andregister.text-center {
		padding-top: 115px;
	}

	p.login-link.haveanaccount {
	    padding-bottom: 10px;
	    margin-top: 55px;
	}

	a.btn.btn-default.ep {
		margin-right: 0;
	}

	a.ep {
		width: 30px;
		height: 34px;
		overflow: hidden;
	}

	a.ep i {
    	left: -11px;
    	top: 2px;
 	}

 	.profiel h1 {
 		margin-top: 25px;
 		margin-bottom: 20px;
 	}

 	.image-section {
 		width: 100%;
 	}

 	.row.userpfofile {
 		padding-left: 25px;
 		padding-right: 25px;
 	}

 	.row.profile-row {
 		padding: 25px;
 		width: 100%;
 	}

 	.profile-row h4.orange-title {
 		margin-bottom: 5px;
 		margin-top: 2px;
 	}

	.profile-row .left {
 		border-bottom: solid 2px #e4e5e4;
 		padding-bottom: 15px;
 		margin-bottom: 25px;
 	}

 	.profile-row .right {
 		padding: 0;
 	}

 	.profile-row > .bottom {
 		margin-top: 20px;
 	}

 	.overlay-left {
 		padding-left: 25px;
 	}

 	.maakmsgprofiel button.btn-orange-star {
	    color: #f69750;
	    font-weight: bold;
	    width: 153px;
	    margin-top: 0;
	}

	.maakmsgprofiel button.btn-orange-star i {
	  left: 0;
	  top: 2px;
	}

	a.btn.btn-default.msgbtn {
	  color: #43a6ad;
	  border: solid 1px #43a6ad;
	  margin-top: 0;
	  margin-left: 10px;
	}

	.maakmsgprofiel div:first-child button {
	  margin-bottom: 0;
	}

	.maakmsgprofiel.notown {
	  margin-bottom: 15px;
	}

	.buttons-contact {
    	padding-bottom: 199px;
    }

    .container.acts {
    	width: 100%;
    	padding: 0 25px;
    }

    .actimage {
    	width: 100%;
    }

    .actsearch, .actsearch:hover {
    	width: 30px;
    	overflow: hidden;
    	margin-left: 14px;
    }

    a.actsearch i {
    	left: 4px;
    }

    .actadd,
    .actadd:hover {
    	width: 30px;
    	overflow: hidden;
    	margin-right: 11px;
    }

    .actadd i {
    	left: 0px;
    }

    .input-group.actdate input {
    	left: auto;
    	right: 0;
    }

    .acttop {
    	margin-top: 34px;
    	margin-bottom: 26px;
    }

    .acttags {
    	left: 10px;
    	bottom: 0;
    }

    .activfavdiv a, .activfavdiv p {
    	width: 30px;
    	overflow: hidden;
    	bottom: auto;
    	top: 10px;
    	right: 10px;
    }

    .actinner {
    	padding: 20px 25px 40px 25px;
	}

	a.favorite-btn {
		width: 100%;
	}

	.user-details-success {
		width: 100%;
	}

	.addactcontainer {
		padding-left: 57px;
		padding-right: 57px;
	}

	.customradio.vulprofradios label {
    	display: block;
 }

	.emailverified {
	    text-align: center;
	}

	.container.vulprofcontainer {
	    padding-left: 57px;
	    padding-right: 57px;
	}

	.vulprofradios {
	  /* text-align: center; */
	  width: 190px;
	  margin: 0 auto;
	}
	.vulprofradios label.radio-inline {
	  text-align: center;
	}

	.vulprofielform input[type=submit] {
	  width: 100%;
	  margin-bottom: 50px;
	}

	.zoekenactform {
		width: 100%;
		padding-left: 57px;
		padding-right: 57px;
	}

	div.search-form {
    	width: 100%;
    	padding: 0 25px;
 }

	.searchfavorites input {
		width: 100%;
	}

	.dpb {
		padding-bottom: 30px !important;
	}

	.enterphone {
	    text-align: center;
	}

	.maakmsgprofiel.notown .btn-green-envelope {
		margin-bottom: 0;
		margin-top: 0;
	}


} /*end 767*/

@media screen and (max-width: 395px) {

	a.btn.btn-default.msgbtn {
    	margin-left: 0px;
	}

	.maakmsgprofiel div:first-child button {
		margin-right: 0;
	}

	.button-right.orangebtn {
		display: block;
	}

	.button-right.greenbtn {
		display: block;
	}

	.maakmsgprofiel.notown {
		margin-bottom: 30px;
	}
}