.container {
    background: #f5f5f5;
}
.container-white {
    background: #fff !important;
}
.navbar-default {
    height: 100px;
    background: #43a6ad;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.nav > li > a > img {
    height: 30px;
}
.navbar-nav li a {
    line-height: 65px;
}
.navbar-default .navbar-nav>li>a {
    color: #337c82;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #337c82;
}
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a:focus {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background: none;
}
.logout-li {
    margin-top: 30px;
}
.log-out-btn {
    background: #296a6e;
    border-color: #296a6e;
}
.btn-info:hover {
    background: #296a6e;
    border-color: #296a6e;
}
.btn-info:focus {
    background: #296a6e;
    border-color: #296a6e;
}
.page-title h1 {
    color: #f69750;
    font-size: 28px;
}
.image-section {
    width: 60%;
    margin: 0 auto;
}
.carousel-inner img {
    width: 100%;
}
#myCarousel .carousel-indicators {
    top: 20px;
    height: 20px;
}
.overlay-left {
    padding-left: 30px;
    float: left;
}
.overlay-right {
    padding-right: 30px;
    float: right;
}
.button-right {
    margin-bottom: 15px;
}
.button-right button {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #fff;
}
.button-right button:hover {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #fff;
}
.image-overlay {
    position: absolute;
    width: 100%;
    bottom: 0px;
    /*overflow: auto;*/
}
.btn-regular {
    background: #87c5c9;
    border: #87c5c9;
}
.btn-regular:hover {
    background: #87c5c9;
    border: #87c5c9;
}
.btn-premium {
    background: #f18440;
    border: #f18440;
}
.btn-premium:hover {
    background: #f18440;
    border: #f18440;
}
.profile-name {
    color: #fff;
    margin-top: 10px;
}
.orange-title {
    color: #f69750;
}
.no-border > tbody > tr > td, .no-border > tbody > tr > th {
    border: none;
}
.no-border > tbody > tr > td {
    padding-top: 1px;
}
.no-border > tbody > tr > th {
    color: #bfbfbf;
    padding-bottom: 0;
}
.btn-tag {
    background: #43a6ad;
    border: none;
    margin-bottom: 10px;
}
.btn-tag:hover {
    background: #43a6ad;
    border: none;
}
.btn-tag:focus {
    background: #43a6ad;
    border: none;
}
.profile-row {
    padding-top: 35px;
    width: 60%;
    margin: 0 auto;
}
.profile-info {
    color: #767777;
}
.reviews-image img {
    float: left;
    margin-right: 20px;
    display: block;
}
.reviews-image {
    height: auto;
}
.testimonial-name {
    color: #f69750;
}
.testimonial-reviews {
    color: #767777;
    font-weight: bold;
}
.testimonial-date {
    color: #767777;
}
.testimonial-text p {
    color: #767777;
}
.reviews-title {
    color: #50b4bb;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 26px;
}
.dashboard-reviews-title {
    color: #50b4bb;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
    font-size: 26px;
}
#fade-quote-carousel .carousel-indicators {
    bottom: -70px !important;
}
.indicators-orange > li {
    border: 1px solid #f69750;
}
.indicators-orange > li.active {
    border: 1px solid #fff;
    background: #f69750;
}
.btn-orange-star {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #f69750;
    border: solid 1px #f69750;
    margin-top: 10px;
    margin-bottom: 30px;
}
.btn-green-envelope {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #43a6ad;
    border: solid 1px #43a6ad;
    margin-top: 10px;
    margin-bottom: 30px;
}
.btn-orange-star:hover {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #f69750;
    border: solid 1px #f69750;
}
.btn-green-envelope:hover {
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #43a6ad;
    border: solid 1px #43a6ad;
}
.overlay-small {
    display: none;
}
.tcb-quote-carousel {
    width: 90%;
    margin: 0 auto;
}
.overlay-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.overlay-small {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 30px;
}
.dashboard-container {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
}
.dashboard-container-next {
    background: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 20px 50px 0 50px;
}
.dashboard-container p, .dashboard-container-next p {
    color: #767777;
    font-size: 16px;
}

span.grey {
    font-weight: bold;
    font-size: 16px;
}
span.badge {
    color: #fff;
    background: #f26c4f;
    font-size: 15px;
}
span.orange-underline {
    color: #f69750;
    border-bottom: solid 1px #f69750;
}
.no-border-dashboard {
    border: none;
    width: auto !important;
}
.no-border-dashboard > tbody > tr > td:last-child {
    padding-left: 40px;
}
.no-border-dashboard > tbody > tr > td > a {
    margin: 0;
}
.no-border-dashboard > tbody > tr > td, .no-border-dashboard > tbody > tr > th {
    border: none;
    width: auto !important;
    vertical-align: middle;
    color: #767777;
}
p.bold {
    font-weight: bold;
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -17px;
   font-size: 10px !important;
}
.btn-yellow {
    background: #ffd35b;
    color: #fff;
    border: none;
    width: 177px;
    margin-bottom: 10px;
}
.btn-green {
    background: #3cb878;
    color: #fff;
    border: none;
    width: 177px;
    margin-bottom: 10px;
}
.btn-blue {
    background: #43a6ad;
    color: #fff;
    border: none;
    width: 177px;
    margin-bottom: 10px;
}
.btn-red {
    background: #f26c4f;
    color: #fff;
    border: none;
    width: 177px;
    margin-bottom: 10px;
}
.btn-dark {
    background: #636464;
    color: #fff;
    border: none;
    width: 177px;
    margin-bottom: 10px;
}
.progress {
    height: 4px;
}
.progress-bar-danger {
    background-color: #f18440;
}
p.progres-percent > span {
    font-size: 12px;
}
p.progres-percent > span:first-child {
    color: #f18440;
}
.btn-right-arrow {
    border: none;
}
.btn-right-arrow:hover {
    border: none;
}
.bottom-align {
    padding-left: 50px;
}

.container-login {
    background-color: #fff;
    background-image: url('../img/loginbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}
.container-contact {
    background-color: #fff;
    background-image: url('../img/halfback.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container-login .page-title h1 {
    color: #fff;
    padding-top: 100px;
}
.navbar-transparent {
    background-color: transparent;
    margin-bottom: 0;
}
.navbar-transparent li a {
    color: #fff;
}
.navbar-transparent li a:hover, .navbar-transparent li a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-transparent li.active a {
    color: #337c82;
    background-color: transparent;
}
.login-li {
    margin-top: 30px;
}
.log-in-btn, .log-in-btn:hover {
    background: #f18440;
    border-color: #f18440;
}
.login-form {
    padding-top: 50px;
    margin: 0 auto;
}

.log-in-submit {
    margin-top: 100px;
    background: #f18440;
    border-color: #f18440;
    width: 400px;
}

.log-in-submit:hover {
    background: #f18440;
    border-color: #f18440;
}

.btn-facebook, .btn-facebook:hover {
    margin-top: 20px;
    background: #3b5998;
    border-color: #3b5998;
    width: 400px;
}
.login-link {
    color: #4c4c4c;
    margin-top: 120px;
}
.login-link a, .login-link a:hover {
    color: #fff;
    border-bottom: solid 1px #fff;
}
.navbar-transparent .navbar-toggle .icon-bar {
    background: #f18440;
}
button.icon > i {
    float: left;
}
.login-form input, .edit-form input, .edit-form textarea, .search-form input {
   text-align:center;
}
.edit-form {
    /* width: 400px; */
    /* margin: 0 auto; */
    text-align: center;
}
.search-form {
    /* padding-top: 50px; */
    /* max-width: 800px; */
    margin: 0 auto;
    text-align: center;
}
.edit-form p {
    color: #767777;
}
.edit-form p a {
    color: #767777;
    font-size: 16px;
}
#ck-button {
    margin:4px;
    background-color: transparent;
    border-radius:4px;
    border:1px solid #43a6ad;
    /*overflow:auto;*/
    float:left;
    color: #43a6ad;
}
#ck-button:hover {
    background: #43a6ad;
    color: #fff;
}

#ck-button label {
    position: relative;
    display: block;
    overflow: hidden;
    float:left;
    /*width:4.0em;*/
    margin-bottom: 0 !important;
}
#ck-button label span {
    text-align:center;
    padding:8px 15px;
    display:block;
}
#ck-button label input {
    position:absolute;
    left:-9999px;
    margin-right: 20px;
}

#ck-button input:checked + span {
    background-color: #43a6ad;
    color: #fff;
}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.center-addon .glyphicon {
    right: 0px;
    color: #767777;
}
.search-input {
    background-color: #e4e5e4;
}
.favorite-row {
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
.favorite-row .col-md-6, .favorite-row .col-sm-6, .favorite-row .col-xs-12 {
    margin-bottom: 20px;
}
.favorites-image img {
    width: 120px;
    float: left;
}
.favorites-info {
    float: left;
    margin-left: 20px;
    text-align: left;
}
.favorites-name {
    padding-bottom: 10px;
    margin-top: 10px;
    color: #f69750;
    font-size: 16px;
    font-weight: bold;
}
.favorites-place {
    padding-bottom: 10px;
    color: #767777;
    font-size: 16px;
    font-weight: bold;
}
.favorites-reviews {
    padding-bottom: 10px;
    color: #767777;
    font-size: 17px;
}
.image-phone {
    /*position: absolute;
    top: 390px;
    padding-left: 100px;*/
}
.contact-title h3 {
    color: #fff;
    width: 300px;
    margin: 0 auto;
    line-height: 200%;
    padding-top: 60px;
    padding-bottom: 70px;
}
.image-phone img {
    width: 290px;
    height: auto;
    position: relative;
}
.buttons-contact {
    /* width: 450px; */
    /* margin: 0 auto; */
}
.buttons-contact button {
    background: #fff;
    color: #767777;
    width: 200px;
}
.btn-hoe-het {
    margin-right: 40px;
}
/*.wat-qare-div {
    margin-left: 40%;
    width: 35%;
    min-height: 460px;
}*/
.wat-qare-div p {
    line-height: 200%;
}
.hoe-werkt-div {
    /* width: 400px; */
    /* margin: 0 auto; */
    text-align: center;
}
.blue-title {
    color: #50b4bb;
    padding-top: 40px;
    padding-bottom: 40px;
}
.col-white {
    background: #fff;
    padding: 28px 37px 0 37px;
    margin-bottom: 50px;
    height: 422px;
}
.col-white img {
    height: 60px;
}
.col-white h4 {
    margin-bottom: 5px;
    margin-top: 10px;
    color: #f18440;
}
.col-white p {
    color: #4c4c4c;
    line-height: 200%;
}
.four-icons {
    padding: 50px;
    clear: both;
    padding-top: 35px;
    padding-bottom: 20px;
}
.video-div img {
    width: 70%;
    height: auto;
    margin: 60px 0 43px 50px;
}
.container-blue {
    background: #87c5c9;
    padding-bottom: 53px;
    padding-top: 40px;
}
.container-blue h3 {
    margin-bottom: 40px;
    color: #fff;
}
.contact-subscribe input {
    margin-right: 20px;
}
.contact-subscribe input, .contact-subscribe button {
    /* width: 250px !important; */
}
.form-contact-div {
    margin: 0 auto;
    float: none;
    padding-bottom: 50px;
}
.contact-form input, .contact-form textarea {
    background: #f5f5f5;
}
.btn-grey {
    color: #fff;
    background: #636464;
    border: solid 1px #636464;
}
.social-icons {
    min-height: 100px;
    padding-top: 68px;
    padding-bottom: 68px;
}
.social-icons img {
    height: 35px;
    margin-right: 20px;
}
p.copyright {
    padding-top: 52px;
    padding-bottom: 13px;
    color: #4c4c4c;
    margin-bottom: 0;
}
.slider-handle {
    background: #e4e5e4;
}
.slider-selection {
    background: #f18440;
}
.slider.slider-horizontal {
    width: 100%;
}
.search-form input[type=checkbox]:checked:before {
    content:"";
    display:inline-block; width:34px;
    height:45px;
    position: absolute;
    left: -12px;
    top: -18px;
    background: url('../img/checked.png');
    background-size: cover;
}

.search-form input[type=checkbox]:before {
    content:"";
    display:inline-block; width:34px;
    height:45px;
    position: absolute;
    left: -12px;
    top: -18px;
    background: url('../img/unchecked.png');
    background-size: cover;
}
.search-form .custom-checkbox div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
.search-form .custom-checkbox label span {
    color: #767777;
    margin-left: 20px;

}
.custom-checkbox {
    padding-bottom: 30px;
    padding-left: 15px;
    margin: 0 auto;
}

@media only screen and (device-width: 1024px), only screen and (max-width: 1024px) {
    .image-phone {
        /*display: none;*/
    }
    /*.wat-qare-div {
        margin-left: 10%;
        width: 80%;
        min-height: 460px;
    }*/
}
@media only screen and (device-width: 768px), only screen and (max-width: 768px) {
    .image-section {
        width: 90%;
        margin: 0 auto;
    }
    .profile-row {
        padding-top: 35px;
        width: 90%;
        margin: 0 auto;
    }
    .overlay-right {
    }
    .overlay-small {
        display: block;
    }
}

@media only screen and (device-width: 480px), only screen and (max-width: 480px) {
    .col-xs-6 {
        /*width: 100%;*/
    }
    .overlay-right {
    }
    .overlay-small {
        display: block;
    }
}